body {
    display: grid;
    grid-template-rows: 20vh;
    justify-content: center;
    text-align: center;
    background-image: url(imgs/wood.png);
    background-size: 100%;
}

h1 {
    margin-top: 10%;
    color: rgb(21, 251, 218);
    font-size: 12vh;
    text-decoration: underline;
    
}

#play {
    color: blue;
    width: 25vw; 
    height: 10vh;
    margin-top: 20%;
    font-size: 5vh;
    background-color: transparent;
    border-radius: 100px;
    font-weight: bold;
    border: 5px solid blue;
    justify-self: center;
    cursor: pointer;
}


.boxArray {

    display:none;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    justify-content: center;
    grid-row: 2;
}



.blue-box {
    width: 1fr;
    height: 1fr;
    background-color: rgb(30, 172, 208);
    font-size: 18vh;
    
}

.gray-box {
    width: 1fr;
    height: 1fr;
    background-color: rgb(98, 97, 97);
    font-size: 18vh;
}

.player1-symbol .player-turn-message{
    color:white;
}

.player2-symbol .player-turn-message {
    color:black;
}

#reset-button {
    font-size: 3vh;
    width: 18vw;
    height: 10vh;
    color: blue;
    cursor: pointer;
    border: 5px solid blue;
    background-color: transparent;
    border-radius: 75px;
    font-weight: bold;
    margin-top: 10%;
}


.reset-button-container {
    display:none;
    position: absolute;
    justify-self: center;
}


.player-turn-div {
    display:none;
    grid-template-rows: 13vh 7vh;
}

.player-turn-message {
    grid-row: 2;
    font-size: 25px;
    font-weight: bold;
    color:white; 
   
}

#player1-key {
    color:white;
}

footer {
    justify-content: space-between;
    display:none;
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: rgb(37, 253, 8);
}
















/*
#box2 {
    width: 1fr;
    height: 1fr;
    background-color: rgb(30, 172, 208);
}

#box3 {
    width: 1fr;
    height: 1fr;
    background-color: rgb(98, 97, 97);
}

#box4 {
    width: 1fr;
    height: 1fr;
    background-color: rgb(30, 172, 208);
    font-size: 200px;
}

#box5 {
    width: 1fr;
    height: 1fr;
    background-color: rgb(98, 97, 97);
}

#box6 {
    width: 1fr;
    height: 1fr;
    background-color: rgb(30, 172, 208);
}

#box7 {
    width: 1fr;
    height: 1fr;
    background-color: rgb(98, 97, 97);
}

#box8 {
    width: 1fr;
    height: 1fr;
    background-color: rgb(30, 172, 208);
}