body {
    display: grid;
    justify-content: center;
    text-align: center;
    background-image: url(imgs/wood.png);
    background-size: 100%;
}

h1 {
    margin-top: 10%;
    color: rgb(29, 163, 11);
    font-size: 12vh;
    text-decoration: underline;
    
}

#play {
    color: blue;
    width: 25vw; 
    height: 10vh;
    margin-top: 20%;
    font-size: 5vh;
    background-color: transparent;
    border-radius: 100px;
    font-weight: bold;
    border: 5px solid blue;
    justify-self: center;
    cursor: pointer;
}


.boxArray {

    display:none;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    justify-content: center;
}



#box0 {
    width: 1fr;
    height: 1fr;
    background-color: aqua;
    
}

#box1 {
    width: 1fr;
    height: 1fr;
    background-color: brown;
}

#box2 {
    width: 1fr;
    height: 1fr;
    background-color: rgb(95, 42, 165);
}

#box3 {
    width: 1fr;
    height: 1fr;
    background-color: rgb(42, 165, 73);
}

#box4 {
    width: 1fr;
    height: 1fr;
    background-color: rgb(105, 102, 102);
    font-size: 200px;
}

#box5 {
    width: 1fr;
    height: 1fr;
    background-color: rgb(0, 0, 0);
}

#box6 {
    width: 1fr;
    height: 1fr;
    background-color: rgb(216, 219, 36);
}

#box7 {
    width: 1fr;
    height: 1fr;
    background-color: rgb(19, 34, 236);
}

#box8 {
    width: 1fr;
    height: 1fr;
    background-color: rgb(255, 4, 4);
}