@font-face {
    font-family: bungee;
    src: url(fonts/Bungee.ttf);
  }
  @font-face {
    font-family: tektur;
    src: url(fonts/Tektur.ttf);
  }
  @font-face {
    font-family: noto;
    src: url(fonts/NotoSerif-VariableFont_wdth\,wght.ttf);
  }

body {
    display: grid;
    grid-template-rows: 20vh;
    justify-content: center;
    text-align: center;
    background-image: url(imgs/wood.png);
    background-size: 100%;
}

h1 {
    margin-top: 10%;
    color: rgb(21, 251, 218);
    font-size: 12vh;
    background-color:rgba(0, 0, 0, 0.795);
    width: 50vw;
    border-radius: 25px;
  
    font-family: bungee;
    
}

#play {
    color: blue;
    width: 25vw; 
    height: 10vh;
    margin-top: 10%;
    font-size: 5vh;
    background-color:#11c1f76e;
    border-radius: 100px;
    font-weight: bold;
    border: 5px solid blue;
    justify-self: center;
    cursor: pointer;
    font-family: noto;
}


.boxArray {
    display:none;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    justify-content: center;
    grid-row: 2;
}



.blue-box { 
    background-color: rgb(30, 172, 208);
    font-size: 18vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gray-box {
    background-color: rgb(98, 97, 97);
    font-size: 18vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.player2-symbol {
    color:white;
}

#reset-button {
    font-size: 3vh;
    width: 18vw;
    height: 10vh;
    color: blue;
    cursor: pointer;
    border: 5px solid blue;
    background-color:#11c1f76e;
    border-radius: 75px;
    font-weight: bold;
    margin-top: 10%;
    font-family: noto;
    white-space: nowrap;
}


.reset-button-container {
    display:none;
    position: absolute;
    justify-self: center;
}


.player-turn-div {
    display:none;
    grid-template-rows: 13vh 7vh;

}

.player-turn-message {
    grid-row: 2;
    font-size: 3vh;
    font-weight: bold;
    font-family: tektur;
    display: flex;
    justify-self: center;
    align-self: end;
    margin: 1vh;
}

#player2-key {
    color:white;
}

footer {
    justify-content: space-between;
    display:none;
    font-size: 4vh;
    text-decoration: underline;
    text-decoration-color: rgb(37, 253, 8);
    background-color: #CCC;
    margin-top: 10px;
    font-family: tektur;
}

#input-div {
    display: block;
}

#player1-name {
    text-align: center;
    width: 30vw;
    height: 3vh;
    background-color: rgb(45, 177, 242);
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 15px;
}

#player2-name {
    text-align: center;
    width: 30vw;
    height: 3vh;
    border-radius: 15px;
    background-color: rgb(45, 177, 242);
    margin-top: 5px;
}

label {
    font-family: tektur;
    font-size: 2vw;
}

.intro-page {
    display: grid;
    justify-items: center;
}